$main : #FFF9F2;
$container : #0564AD;
$fontColor : #FF9F1C;
$mainFont : 'Montserrat', sans-serif;

body {
  font-family: $mainFont;
  background: $main;
  color: $fontColor;
  .button, .btn {
    font-weight: bold;
    text-align: center;
    background: $container;
    color: white;
  }
  .header{
    background: $container;
    h2 {
      padding: 5px;
      font-size: 45px;
    }
  }
  .top {
    background: $main;
    height: 40px;
  }
  .info {
    margin-top: 30px;
  }
  .group-form {
    margin-top: 10px;
  }
  ul {
    list-style-type: none;
    color: $container;
  }
  .alert-info, .alert {
    background-color: $fontColor;
  }
  .results {
    font-size: 18px;
  }
  .bottom {
    background: $container;
    height: 20px;
  }

}
